::SERVER
{
	//------------------------------------------------------
	// 실제로 유저가 접속하는 공인 IP
	//------------------------------------------------------
	SERVER_IP		= "222.107.0.122"

	//------------------------------------------------------
	// Listen IP / PORT
	//------------------------------------------------------
	BIND_IP			= "0.0.0.0"
	BIND_PORT		= 6002

	WORKER_THREAD	= 4

	CLIENT_MAX 		= 150

	MONITOR_NO		= 3			// 모니터링을 위한 지정번호  마스터 0 / 이후 각자 지정번호

	//-----------------------------------
	// Packet Encode Key
	//-----------------------------------
	PACKET_CODE	= 119
	PACKET_KEY1	= 50
	PACKET_KEY2	= 132

	//-----------------------------------
	// SystemLog Level
	//-----------------------------------
//	LOG_LEVEL = "DEBUG"
	LOG_LEVEL = "WARNING"
	LOG_LEVEL = "ERROR"

}