::SERVER
{
	BIND_IP		= "127.0.0.1"
	BIND_PORT	= 6002

	WORKER_THREAD	= 1

	CLIENT_MAX 	= 1

	MONITOR_NO	= 3			
	
	PACKET_CODE	= 119
	PACKET_KEY1	= 50
	PACKET_KEY2	= 132

	
//	LOG_LEVEL = "DEBUG"
	LOG_LEVEL = "WARNING"
//	LOG_LEVEL = "ERROR"
}