::SERVER
{
	BIND_IP		= "0.0.0.0"
	BIND_PORT	= 12001

	WORKER_THREAD	= 4
	ACTIVE_WORKER_THREAD = 3

	CLIENT_MAX 	= 20000

	MONITOR_NO	= 2			

	PACKET_CODE	= 119
	PACKET_KEY1	= 50
	PACKET_KEY2	= 132

	
//	LOG_LEVEL = "DEBUG"
	LOG_LEVEL = "WARNING"
//	LOG_LEVEL = "ERROR"

}